.maincontainer{
    width:100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* border: 1px solid green; */
}
.googletext{
    width:55%;
    height:100%;
    display: flex;
    top:20px;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start;
    /* border: 1px solid black; */
    padding: 20px;
}
.columncontainer{
    width: 60%;
    height: 100%;
    display: flex;
    left:0;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 1px solid red; */
}
p{
    font-size: medium;
    text-align: left;
}
#logo{
    text-align: left;
}
.columncontainer2{
    width: 42%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* border: 1px solid red; */
}
.logotext{
    width:100%;
    height:15%;
    display: flex;
    left:0px;
    flex-direction: column;
    align-items: flex-start;
    /* border: 1px solid violet; */

}

.textboxcontainer{
    width:100%;
    height:16%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.textbox{
    width:100%;
    height:16%;
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Buttoncontainer{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid greenyellow; */
}
